<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-6 col-md-8 mb-2 mx-auto">

<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item">
    <a aria-controls="index" aria-selected="true" class="nav-link active" href="/groups/index" id="index-tab" role="tab">一覧</a>
  </li>
  <li class="nav-item">
    <a aria-controls="search" aria-selected="false" class="nav-link" href="/groups/search" id="search-tab" role="tab">検索</a>
  </li>
  <li class="nav-item">
    <a aria-controls="new" aria-selected="false" class="nav-link" href="/groups/new" id="new-tab" role="tab">作成</a>
  </li>
</ul>

<h4>参加しているグループ</h4>

<% @groupUsers.each do |groupUser| %>
<% if groupUser != nil %>

<ul class="nav mb-2 mt-2">
  <li>グループ名: <%= groupUser.fetch_group.group_name %></li>
    
    <%= form_tag("/groups/withdraw", class: "ml-auto") do %>
      <button class="btn btn-info" type="submit" name="group_id" value="<%= groupUser.group_id %>">退会する</button>
    <% end %>
  </li>

<li>
<%= form_tag("/groups/destroy", class: "ml-4") do %>
<button class="btn btn-info" type="submit" name="group_id" value="<%= groupUser.group_id %>">削除する</button>
<% end %>
</li>

</ul>

<% end %>
<% end %>


</div>
</div>
</div>