<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-6 col-md-8 mb-2 mx-auto">

<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item">
    <a aria-controls="index" aria-selected="true" class="nav-link" href="/groups/index" id="index-tab" role="tab">一覧</a>
  </li>
  <li class="nav-item">
    <a aria-controls="search" aria-selected="false" class="nav-link active" href="/groups/search" id="search-tab" role="tab">検索</a>
  </li>
  <li class="nav-item">
    <a aria-controls="new" aria-selected="false" class="nav-link" href="/groups/new" id="new-tab" role="tab">作成</a>
  </li>
</ul>


<%= form_tag("/groups/search", class: "form-inline my-2 my-lg-0 floating-label") do %>
<label>グループ名</label>
<input class="form-control mr-sm-2" type="search" name="search" aria-label="Search">
<button class="btn btn-light my-2 my-sm-0" type="submit">検索する</button>
<% end %>


<% @results.each do |result| %>

<ul class="nav nav-pills mb-2">

<li class="mr-auto">
<%= result.group_name %>
</li>

<%= form_tag("#", class: "ml-auto") do %>
<button class="btn btn-info" type="submit">申請する</button>
<% end %>

<%= form_tag("#", class: "ml-auto") do %>
<button class="btn btn-info" type="submit">申請中</button>
<% end %>

<%= form_tag("#", class: "ml-auto") do %>
<button class="btn btn-info" type="submit">申請する</button>
<% end %>

</ul>

<% end %>

</div>
</div>
</div>