<!DOCTYPE html>
<html>

<head>
    <title>Share Movies</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="padding-top: 3.5rem">
    <nav class="navbar navbar-expand-md navbar-light bg-light navbar-default fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Share Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- ログイン前 -->
                <% if !@current_user %>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new">新規登録</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login_form">ログイン</a>
                        </li>
                    </ul>
                    <!-- ログイン後 -->
                    <% else %>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">ホーム</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/videos/new">投稿</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/groups">グループ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout" data-method="post">ログアウト</a>
                            </li>
                        </ul>
                        <% end %>
            </div>
        </div>
    </nav>
    <!-- メッセージ -->
    <% if flash[:notice] %>
        <div class="flash">
            <%= flash[:notice] %>
        </div>
        <% end %>
            <!-- エラーメッセージ -->
            <% if @error_message %>
                <div class="form-error">
                    <%= @error_message %>
                </div>
                <% end %>
                    <div class="space" style="margin-top: 20px"></div>
                        <%= yield %>
</body>

</html>