<!DOCTYPE html>
<html>

<head>
    <title>Share Movies</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="nav-wrapper d-flex">
            <a class="navbar-brand" href="/">Share Movies</a>
            <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarSupportedContent">
                <!-- ログイン前 -->
                <% if !@current_user %>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new">新規登録</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login_form">ログイン</a>
                        </li>
                    </ul>
                    <!-- ログイン後 -->
                    <% else %>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">ホーム</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/videos/new">投稿</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/groups">グループ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout" data-method="post">ログアウト</a>
                            </li>
                        </ul>
                        <% end %>
            </div>
        </div>
    </nav>
    <!-- メッセージ -->
    <% if flash[:notice] %>
        <div class="flash">
            <%= flash[:notice] %>
        </div>
    <% end %>

    <!-- エラーメッセージ -->
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>
            <div class="main-container">
                <%= yield %>
            </div>
</body>

</html>