 <!DOCTYPE html>
 <html>
   <head>
     <title>Share Movies</title>
     <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>
 
   <body>
     <header>
       <div class="container" id="nav-bar">
         <div class="header-left">
           <%= link_to('Share Movies', '/') %>
         </div>
         <div class="header-right">
           <ul>
            <!-- ログイン前 -->
             <li><a href="/about">about</a></li>
             <li><a href="/new">新規登録</a></li>

            <!-- ログイン状態 -->
             <li><a href="/login_form">ログイン</a></li>
             <li>
              <%= link_to("ログアウト", "/logout", {method: :post}) %>
             </li>
             <li><a href="/index">ホーム</a></li>
             <li>
               <%= link_to('投稿', '/videos/new') %>
             </li>
           </ul>
         </div>
       </div>
     </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
     
     <%= yield %>
 
   </body>
 </html>
 